04.Fuentes/OperacionesTopazWeb/OperacionesTopazWeb/Service References/wsCondicion/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SatelitesEN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SatelitesEN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnCondicion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="bFlagFechaValorParametro" type="xs:boolean" />
          <xs:element minOccurs="0" name="bFlagPeriodoGraciaParametro" type="xs:boolean" />
          <xs:element minOccurs="0" name="bModificable" type="xs:boolean" />
          <xs:element minOccurs="0" name="bModificableEje" type="xs:boolean" />
          <xs:element minOccurs="0" name="bPagoInteresPeriodoGracia" type="xs:boolean" />
          <xs:element minOccurs="0" name="bPeriodoGracia" type="xs:boolean" />
          <xs:element minOccurs="0" name="bReprogramar" type="xs:boolean" />
          <xs:element minOccurs="0" name="bSeguroDesgravamen" type="xs:boolean" />
          <xs:element minOccurs="0" name="bUnicuota" type="xs:boolean" />
          <xs:element minOccurs="0" name="dFechaDesembolso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFechaDesembolsoRep" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFechaProceso" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dFechaReprogramacion" type="xs:dateTime" />
          <xs:element minOccurs="0" name="dProximoVencimientoCre" type="xs:dateTime" />
          <xs:element minOccurs="0" name="iAccion" type="xs:int" />
          <xs:element minOccurs="0" name="iCantidadPeriodoGracia" type="xs:int" />
          <xs:element minOccurs="0" name="iCodigo" type="xs:int" />
          <xs:element minOccurs="0" name="iCodigoAceptacion" type="xs:int" />
          <xs:element minOccurs="0" name="iCodigoProgramaGobierno" type="xs:int" />
          <xs:element minOccurs="0" name="iCodigoVisita" type="xs:int" />
          <xs:element minOccurs="0" name="iCuotasMaximasParametro" type="xs:int" />
          <xs:element minOccurs="0" name="iDestinoPrestamo" type="xs:int" />
          <xs:element minOccurs="0" name="iDiasAtraso" type="xs:int" />
          <xs:element minOccurs="0" name="iEstado" type="xs:int" />
          <xs:element minOccurs="0" name="iFlagPagoInteresParametro" type="xs:int" />
          <xs:element minOccurs="0" name="iIdCondicion" type="xs:int" />
          <xs:element minOccurs="0" name="iIdReprogramacion" type="xs:int" />
          <xs:element minOccurs="0" name="iIdSolicitud" type="xs:int" />
          <xs:element minOccurs="0" name="iIndicadorAmortizacionDespuesEjecucion" type="xs:int" />
          <xs:element minOccurs="0" name="iIndicadorCronogramaDias" type="xs:int" />
          <xs:element minOccurs="0" name="iIndicadorMontoMinimo" type="xs:int" />
          <xs:element minOccurs="0" name="iIndicadorMostrarBotonSeleccionar" type="xs:int" />
          <xs:element minOccurs="0" name="iIndicadorPagoAmortizacion" type="xs:int" />
          <xs:element minOccurs="0" name="iModalidad" type="xs:int" />
          <xs:element minOccurs="0" name="iNumeroCuotaMax" type="xs:int" />
          <xs:element minOccurs="0" name="iNumeroCuotaMin" type="xs:int" />
          <xs:element minOccurs="0" name="iNumeroCuotas" type="xs:int" />
          <xs:element minOccurs="0" name="iSectorEconomico" type="xs:int" />
          <xs:element minOccurs="0" name="iTipo" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoCronograma" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoDesgravamen" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoPagoAnticipado" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoPersona" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoVencimiento" type="xs:int" />
          <xs:element minOccurs="0" name="nCargosFijos" type="xs:decimal" />
          <xs:element minOccurs="0" name="nCuotaExigible" type="xs:decimal" />
          <xs:element minOccurs="0" name="nCuotaTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="nDerechoAdmision" type="xs:decimal" />
          <xs:element minOccurs="0" name="nDesgravamen" type="xs:decimal" />
          <xs:element minOccurs="0" name="nDiferenciaSeguroDesgravamen" type="xs:decimal" />
          <xs:element minOccurs="0" name="nInteresCompensatorio" type="xs:decimal" />
          <xs:element minOccurs="0" name="nInteresMoratorio" type="xs:decimal" />
          <xs:element minOccurs="0" name="nInteresVencido" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoCapitalPagadoParcial" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoCapitalPagadoParcialValidador" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoCargosAdicionalesCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoCargosFijosCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoCuota" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoEjecutado" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresCalculadoPeriodoGracia" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresCompensatorio" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresCompensatorioCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresCuotaUnicuota" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresMoratorio" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresMoratorioCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresPagado" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresProrrateado" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresProrrateadoAnterior" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoInteresVencidoCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoItfCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoMinimo" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoReprogramacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoSaldoCapitalCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoSaldoCapitalUnicuota" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoSeguroDesgravamenCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoSubTotalCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nMontoTotalCancelacion" type="xs:decimal" />
          <xs:element minOccurs="0" name="nOtrosCargos" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPorcentajeAvanceCuotaParametro" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPorcentajeTasa" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPorcentajeTasaMaximo" type="xs:decimal" />
          <xs:element minOccurs="0" name="nPorcentajeTasaMinimo" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSaldoCapital" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSaldoCapitalGeneralCreditos" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSeguroDesgravamen" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSeguroDesgravamenMinimo" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSeguroDesgravamenPagado" type="xs:decimal" />
          <xs:element minOccurs="0" name="nSeguroDesgravamenPagadoPendiente" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTasaBcrProgramaGobierno" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTasaCoberturaProgramaGobierno" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTasaCofideProgramaGobierno" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTasaCreditoAdicional" type="xs:decimal" />
          <xs:element minOccurs="0" name="nTasaReprogramacionProgramaGobierno" type="xs:decimal" />
          <xs:element minOccurs="0" name="sCodProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoMoneda" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDescripcionAceptacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDescripcionExperian" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDescripcionProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDescripcionVisita" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDestinoPrestamo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDiasBloqueados" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sDocumento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaDesembolso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaDesembolsoRep" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaRegistroSolicitud" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaReprogramacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaSistemaSiscredinka" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sFechaValorSolicitud" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreCalificacionAgencia" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreCliente" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreOficina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNumeroCredito" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sPeriodoPago" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sPrimerVencimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sProximoVencimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sProximoVencimientoCre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sProximoVencimientoDesde" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sProximoVencimientoHasta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sResultadoExperian" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSectorEconomico" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sTipoVencimiento" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sdtFechaPagoCuotaUnicuota" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="siCodigoEstado" type="xs:short" />
          <xs:element minOccurs="0" name="siNumeroCuotasPagadas" type="xs:int" />
          <xs:element minOccurs="0" name="siNumeroCuotasPendientes" type="xs:int" />
          <xs:element minOccurs="0" name="siNumeroCuotasTotal" type="xs:int" />
          <xs:element minOccurs="0" name="siOrdenAprobacion" type="xs:short" />
          <xs:element minOccurs="0" name="siOrdenEjecucion" type="xs:short" />
          <xs:element minOccurs="0" name="siPeriodoPago" type="xs:short" />
          <xs:element minOccurs="0" name="vCondicion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDescripcion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDescripcionCartera" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDescripcionModalidad" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDescripcionProgramaGobierno" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vDescripcionSituacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vFechaDesembolso" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vNumeroSolicitud" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnCondicion" nillable="true" type="tns:EnCondicion" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AjaxError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AjaxResultado" type="xs:int" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="dtAudFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtAudFechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="enResultadoTopaz" nillable="true" type="tns:EnServiceResult" />
      <xs:element minOccurs="0" name="iIdOficinaModificacion" type="xs:int" />
      <xs:element minOccurs="0" name="vAudFechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudFechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
  <xs:complexType name="EnServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bResultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="iId" type="xs:int" />
      <xs:element minOccurs="0" name="iModulo" type="xs:int" />
      <xs:element minOccurs="0" name="iResultado" type="xs:int" />
      <xs:element minOccurs="0" name="sCodigoErrorTopaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sContentXmlError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMensajeErrorTopaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sModulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnServiceResult" nillable="true" type="tns:EnServiceResult" />
  <xs:complexType name="ArrayOfEnCondicion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnCondicion" nillable="true" type="tns:EnCondicion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnCondicion" nillable="true" type="tns:ArrayOfEnCondicion" />
  <xs:complexType name="EnProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="iActivo" type="xs:int" />
      <xs:element minOccurs="0" name="iConfigurado" type="xs:int" />
      <xs:element minOccurs="0" name="iCuotasMax" type="xs:int" />
      <xs:element minOccurs="0" name="iCuotasMin" type="xs:int" />
      <xs:element minOccurs="0" name="iDiasGraciaMax" type="xs:int" />
      <xs:element minOccurs="0" name="iEstado" type="xs:int" />
      <xs:element minOccurs="0" name="iIdCuadro" type="xs:int" />
      <xs:element minOccurs="0" name="iIdMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iIdProducto" type="xs:decimal" />
      <xs:element minOccurs="0" name="iIdRegla" type="xs:int" />
      <xs:element minOccurs="0" name="iNumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="iNumeroRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="iPlazoMaximo" type="xs:int" />
      <xs:element minOccurs="0" name="iTotalRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="iVigente" type="xs:int" />
      <xs:element minOccurs="0" name="nMontoMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="nMontoMin" type="xs:decimal" />
      <xs:element minOccurs="0" name="nPeriodoPagoPrimeraCuota" type="xs:decimal" />
      <xs:element minOccurs="0" name="nPorcentajeDescuentoDesgravamen" type="xs:decimal" />
      <xs:element minOccurs="0" name="nPorcentajeTasaMaxima" type="xs:decimal" />
      <xs:element minOccurs="0" name="nPorcentajeTasaMinima" type="xs:decimal" />
      <xs:element minOccurs="0" name="sActivo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAfectoDesgravamen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sAgricola" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sCodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sConfigurado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sConvenio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcionTipoCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcionTipoInteres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcionTipoMoneda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sDescripcionTipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sIdTipoCredito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sIdTipoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sImprimeCuponera" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sPresupuestado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sRequiereCuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sRequiereGarantia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnProducto" nillable="true" type="tns:EnProducto" />
  <xs:complexType name="ArrayOfEnProducto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnProducto" nillable="true" type="tns:EnProducto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnProducto" nillable="true" type="tns:ArrayOfEnProducto" />
  <xs:complexType name="EnCarteraProductoAhorroOrden">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="iActivo" type="xs:int" />
          <xs:element minOccurs="0" name="iCodigoProducto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iIdCuadro" type="xs:int" />
          <xs:element minOccurs="0" name="iNumeroOrden" type="xs:int" />
          <xs:element minOccurs="0" name="loProductoAhorro" nillable="true" type="tns:ArrayOfEnActionProductoAhorro" />
          <xs:element minOccurs="0" name="psDescripcionProducto" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnCarteraProductoAhorroOrden" nillable="true" type="tns:EnCarteraProductoAhorroOrden" />
  <xs:complexType name="ArrayOfEnActionProductoAhorro">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnActionProductoAhorro" nillable="true" type="tns:EnActionProductoAhorro" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnActionProductoAhorro" nillable="true" type="tns:ArrayOfEnActionProductoAhorro" />
  <xs:complexType name="EnActionProductoAhorro">
    <xs:sequence>
      <xs:element minOccurs="0" name="iCodigoProducto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iNumeroOrden" type="xs:int" />
      <xs:element minOccurs="0" name="psDescripcionProducto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnActionProductoAhorro" nillable="true" type="tns:EnActionProductoAhorro" />
  <xs:complexType name="ArrayOfEnCarteraProductoAhorroOrden">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnCarteraProductoAhorroOrden" nillable="true" type="tns:EnCarteraProductoAhorroOrden" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnCarteraProductoAhorroOrden" nillable="true" type="tns:ArrayOfEnCarteraProductoAhorroOrden" />
</xs:schema>