04.Fuentes/OperacionesTopazWeb/OperacionesTopazWeb/Service References/wsSeguridad/SeguridadWS32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SatelitesEN" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SatelitesEN" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnUsuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CodigoEstadoUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="IdCargo" type="xs:int" />
          <xs:element minOccurs="0" name="IdCargoSecundario" type="xs:int" />
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
          <xs:element minOccurs="0" name="NombreCargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="bAccecsoMovil" type="xs:boolean" />
          <xs:element minOccurs="0" name="bAcceso" type="xs:boolean" />
          <xs:element minOccurs="0" name="bEstadoAD" type="xs:boolean" />
          <xs:element minOccurs="0" name="iCodigoEmpleado" type="xs:int" />
          <xs:element minOccurs="0" name="iEntidad" type="xs:int" />
          <xs:element minOccurs="0" name="iFlag" type="xs:int" />
          <xs:element minOccurs="0" name="iIdPerfil" type="xs:int" />
          <xs:element minOccurs="0" name="iRespuesta" type="xs:int" />
          <xs:element minOccurs="0" name="iTipoEquipo" type="xs:int" />
          <xs:element minOccurs="0" name="iidOficina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="iidUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sApellidos" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoEstadoUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoIP" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoMAC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCodigoSectorista" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sContrasena" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sMensajeLogin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreCargo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreCompleto" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreEstado" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreOficina" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombrePerfil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreUsuarioCreacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombres" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNumeroDNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNumeroTelefono" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sOpcionesMenu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sPerfilPrimario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sRespuesta" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sSesionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sTipoGestion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sUsuarioNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sValidacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="siArea" type="xs:int" />
          <xs:element minOccurs="0" name="siOrigen" type="xs:short" />
          <xs:element minOccurs="0" name="siTipoGestion" type="xs:short" />
          <xs:element minOccurs="0" name="siValidarAccesoMovil" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="vCorreo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnUsuario" nillable="true" type="tns:EnUsuario" />
  <xs:complexType name="enBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="AjaxError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AjaxResultado" type="xs:int" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroPagina" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="RowNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRegistros" type="xs:int" />
      <xs:element minOccurs="0" name="dtAudFechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dtAudFechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="enResultadoTopaz" nillable="true" type="tns:EnServiceResult" />
      <xs:element minOccurs="0" name="iIdOficinaModificacion" type="xs:int" />
      <xs:element minOccurs="0" name="vAudFechaCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudFechaModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudIPModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudMACModificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioCreacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vAudNombreUsuarioModificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="enBase" nillable="true" type="tns:enBase" />
  <xs:complexType name="EnServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoRegistro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bResultado" type="xs:boolean" />
      <xs:element minOccurs="0" name="iId" type="xs:int" />
      <xs:element minOccurs="0" name="iModulo" type="xs:int" />
      <xs:element minOccurs="0" name="iResultado" type="xs:int" />
      <xs:element minOccurs="0" name="sCodigoErrorTopaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sContentXmlError" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMensajeErrorTopaz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sModulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnServiceResult" nillable="true" type="tns:EnServiceResult" />
  <xs:complexType name="ArrayOfEnModulo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnModulo" nillable="true" type="tns:EnModulo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnModulo" nillable="true" type="tns:ArrayOfEnModulo" />
  <xs:complexType name="EnModulo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="LoenMenus" nillable="true" type="tns:ArrayOfEnMenu" />
          <xs:element minOccurs="0" name="bAccesoDirecto" type="xs:boolean" />
          <xs:element minOccurs="0" name="iCantSubModulos" type="xs:int" />
          <xs:element minOccurs="0" name="iidModulo" type="xs:int" />
          <xs:element minOccurs="0" name="iidSubModulo" type="xs:int" />
          <xs:element minOccurs="0" name="sIconoModulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sIconoSubModulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreModulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sNombreSubModulo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sRuta" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnModulo" nillable="true" type="tns:EnModulo" />
  <xs:complexType name="ArrayOfEnMenu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnMenu" nillable="true" type="tns:EnMenu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnMenu" nillable="true" type="tns:ArrayOfEnMenu" />
  <xs:complexType name="EnMenu">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:enBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="iAccion" type="xs:int" />
          <xs:element minOccurs="0" name="idPadre" type="xs:int" />
          <xs:element minOccurs="0" name="iidMenu" type="xs:int" />
          <xs:element minOccurs="0" name="sNombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="sRuta" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnMenu" nillable="true" type="tns:EnMenu" />
  <xs:complexType name="EnUsuarioLoginWAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="bToken" type="xs:boolean" />
      <xs:element minOccurs="0" name="bValidarSesion" type="xs:boolean" />
      <xs:element minOccurs="0" name="iEntidad" type="xs:int" />
      <xs:element minOccurs="0" name="sCodigoMAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNumeroTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSesionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siOrigen" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnUsuarioLoginWAPI" nillable="true" type="tns:EnUsuarioLoginWAPI" />
  <xs:complexType name="EnUsuarioWAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="bAcceso" type="xs:boolean" />
      <xs:element minOccurs="0" name="iIdCargo" type="xs:int" />
      <xs:element minOccurs="0" name="iIdOficina" type="xs:int" />
      <xs:element minOccurs="0" name="iIdPerfil" type="xs:int" />
      <xs:element minOccurs="0" name="iIdUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="iRespuesta" type="xs:int" />
      <xs:element minOccurs="0" name="iTipoDocumento" type="xs:int" />
      <xs:element minOccurs="0" name="loMenu" nillable="true" type="tns:ArrayOfEnMenuWAPI" />
      <xs:element minOccurs="0" name="sApellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sCodigoUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sCorreo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombreCargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombreCompleto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombreEstado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombreOficina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombrePerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sRefreshToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSesionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siEstado" type="xs:short" />
      <xs:element minOccurs="0" name="siOrigen" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnUsuarioWAPI" nillable="true" type="tns:EnUsuarioWAPI" />
  <xs:complexType name="ArrayOfEnMenuWAPI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EnMenuWAPI" nillable="true" type="tns:EnMenuWAPI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnMenuWAPI" nillable="true" type="tns:ArrayOfEnMenuWAPI" />
  <xs:complexType name="EnMenuWAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="iIdHijo" type="xs:int" />
      <xs:element minOccurs="0" name="iIdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="iIdModulo" type="xs:int" />
      <xs:element minOccurs="0" name="iIdPadre" type="xs:int" />
      <xs:element minOccurs="0" name="iIdSubModulo" type="xs:int" />
      <xs:element minOccurs="0" name="sFormulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sModulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sSubModulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnMenuWAPI" nillable="true" type="tns:EnMenuWAPI" />
  <xs:complexType name="EnBloqueoUsuarioWAPI">
    <xs:sequence>
      <xs:element minOccurs="0" name="bRequiereToken" type="xs:boolean" />
      <xs:element minOccurs="0" name="sMensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sNroDNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sToken" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="siResultado" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnBloqueoUsuarioWAPI" nillable="true" type="tns:EnBloqueoUsuarioWAPI" />
</xs:schema>